@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .max-container {
        max-width: 1200px;
        @apply mx-auto px-5 w-full
    }

    body,
    html {
        @apply h-full
    }

    #root {
        @apply flex flex-col h-full;
    }

    .max-container1 {
        max-width: 600px;
        margin-top: 200px;
        margin-bottom: 200px;
        @apply mx-auto px-3 w-full
    }

   


}